.ant-menu-light .ant-menu-item-selected {
  color: var(--orange) !important;
  background-color: var(--logoBG) !important;
}
.ant-menu-item-active {
  color: var(--darkBlue) !important;
}

.ant-menu-submenu-title:hover {
  color: var(--darkBlue) !important;
  background-color: var(--logoBG) !important;
}
