@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
  --orange: #ff5722;
  --white: #ffffff;
  --darkBlue: #0065ff;
  --logoBG: rgba(0, 0, 0, 0.94);
}
* {
  font-family: 'Roboto', sans-serif !important;
}
